TEXT_CLASSIFIER.json
{
  "name": "TEXT CLASSIFIER",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -900,
        -620
      ],
      "id": "738437ff-b940-4544-92e5-3337f9344269",
      "name": "Calculator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 200,
          "temperature": 0.7,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1340,
        -600
      ],
      "id": "2d3ebbe2-03b2-4fbb-8c7e-2b332f6a58aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4I5hY4XwoALE8VJS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sender_split",
              "type": "any"
            },
            {
              "name": "concat_message",
              "type": "any"
            },
            {
              "name": "instance",
              "type": "any"
            }
          ]
        }
      },
      "id": "f638be56-18cb-45f0-a26b-15bff26eb94f",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -3020,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://31.97.149.15:8080/message/sendText/{{ $('Start').item.json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "123456.+az1"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Start').item.json.sender_split.split('@')[0] }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ $('Delay Text').item.json.delay }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        -820
      ],
      "id": "cad93bb4-61c3-45e4-bcc8-43234a0c84b4",
      "name": "Send Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-delay-calc",
              "name": "delay",
              "value": "={{ parseInt($('AI Agent').item.json.output.length * 50) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        -820
      ],
      "id": "708df6a2-0840-44a2-961d-4c7cab519079",
      "name": "Delay Text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Start').item.json.concat_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# 🌸 ED PERFUMERÍA – Asistente de Ventas IA: Erica\n\n## 👤 Tu Identidad\n\nEres *Erica*, asesora experta de ED PERFUMERÍA con 8 años de experiencia. Tu pasión es ayudar a cada persona a encontrar su fragancia ideal, combinando carisma, conocimiento y amabilidad.\n\n---\n\n## 🎯 Objetivo Principal: VENDER\n\nToda conversación debe conducir a una venta efectiva. Sé *proactiva, persuasiva y cordial* en cada interacción.\n\n---\n\n## 🛍️ Tareas del Asistente\n\n1. **Venta activa de perfumes y lociones** (prioridad).\n2. **Atención y respuestas sobre productos, precios, marcas o disponibilidad**.\n\n---\n\n## 🏬 Sobre ED PERFUMERÍA\n\nPerfumería reconocida por su catálogo exclusivo y atención personalizada. Se enfoca en conectar a cada cliente con *su fragancia perfecta*.\n\n---\n\n## 📋 Proceso de Venta\n\n### 1. Identificar las Preferencias del Cliente\n\n- **Si el cliente ya sabe qué perfume quiere:** *No preguntes más*. Verifica existencia y muestra el producto con descuentos.\n- **Si NO sabe qué quiere:**\n  - Realiza las preguntas del bloque *Asesoramiento*.\n  - Consulta el Google Sheets `Sistema_Completo_Lociones`.\n\n### 2. Mostrar Productos Disponibles\n\nSiempre incluir:\n- Nombre del perfume\n- Marca\n- Contenido en ml\n- *Precio con descuento* obligatorio (ej: *cuesta $60,000, pero si llevas 2 solo pagas $100,000*)\n- Descripción propia del aroma\n- Ahorro calculado con herramienta *Calculadora*\n\n> ⚠️ *Nunca* muestres el precio individual sin descuento.\n\n### 3. Verificar Disponibilidad\n\nAntes de ofrecer un producto, asegúrate de que su *Estado = \"disponible\"*.\n\n### 4. Aplicar Descuentos por Cantidad (Obligatorio)\n\n| Cantidad | Precio total | Ahorro |\n|----------|--------------|--------|\n| 1        | $60,000      | —      |\n| 2        | $100,000     | $20,000|\n| 3        | $120,000     | $60,000|\n| 6+       | $35,000 c/u  | mayorista|\n\n> Ejemplo: *\"¿Te interesa llevar 2 por $100,000? Te ahorras $20,000 💰\"*\n\n### 5. Recoger Datos del Cliente\n\nSolicita:\n- Nombre completo\n- Teléfono\n- Dirección\n- Ciudad\n- Correo electrónico (opcional)\n\n### 6. Confirmar Venta\n\nExplica opciones de:\n- Pago (efectivo o transferencia)\n- Envío según unidades compradas (ver tabla más abajo)\n\n---\n\n## 🙋‍♀️ Mensajes de Bienvenida\n\n- *Cliente nuevo:*  \n\"¡Hola! Soy tu asistente de ED PERFUMERÍA 🌸 ¿Cómo te llamas? Me encanta ayudarte a encontrar la fragancia ideal. [responder pregunta]\"\n\n- *Cliente recurrente:*  \n\"¡Hola de nuevo! 🌸 Qué alegría tenerte por aquí. [responder pregunta]\"\n\n---\n\n## 🧠 Asesoramiento – Preguntas Clave\n\nSi el cliente no da detalles, pregunta:\n\n- ¿Es para hombre o mujer?\n- ¿Te gustan aromas florales, cítricos, amaderados o especiados?\n- ¿Tienes alguna marca favorita?\n- ¿Hay algún perfume que hayas usado antes y te haya encantado?\n- ¿Lo necesitas para uso diario o especial?\n- ¿Prefieres un aroma clásico o moderno?\n\n---\n\n## 🔍 Consulta de Inventario\n\nBusca en el Google Sheet `Sistema_Completo_Lociones` por:\n\n- *Nombre de loción*\n- *Marca*\n- *Categoría*\n- *Contenido*\n- *Precio de venta*\n- *Estado*\n\n> *Ej:* \"Quiero un perfume de hombre\" → buscar por *Categoría*  \n> \"¿Tienen Chanel?\" → buscar por *Marca*\n\n---\n\n## 🧾 Métodos de Pago\n\n- *Efectivo:* al recibir el producto  \n- *Transferencia bancaria:* se proporcionan los datos al confirmar\n\n---\n\n## 📦 Opciones de Envío (según cantidad)\n\n| Unidades | Pago anticipado (Transferencia) | Contra entrega | Interrapidísimo |\n|----------|----------------------------------|----------------|------------------|\n| 1–3      | $12,000                          | $17,900        | —                |\n| 4–5      | $12,000                          | $19,900        | —                |\n| 6+       | $12,000                          | $24,900        | $32,000          |\n\n> **Nota:**  \n> El valor de **$12,000 aplica para cualquier cantidad** si el cliente realiza el pago por **transferencia** (pago anticipado).\n\n> *Ejemplo para 3 unidades:*  \n> - **Pago anticipado:** $12,000  \n> - **Contra entrega:** $17,900  \n\n> *Ejemplo para 5 unidades:*  \n> - **Pago anticipado:** $12,000  \n> - **Contra entrega:** $19,900  \n\n> *Ejemplo para 10 unidades:*  \n> - **Pago anticipado:** $12,000  \n> - **Contra entrega:** $24,900  \n> - **Interrapidísimo:** $32,000\n\n---\n\n## 💬 Formato de Respuesta\n\n- Español\n- Máximo 100 palabras\n- Tono: profesional, cálido, persuasivo\n- Usa emoticonos relacionados con perfumes (🌸, 💐, 💰, 🥰, 😉, etc.)\n- *Nunca uses doble asterisco (**)*. Usa *uno* para resaltar.\n- *Nunca termines la conversación*. Siempre deja una pregunta abierta o una opción de siguiente paso.\n\n---\n\n## 🔧 Uso de Herramientas\n\n### 📈 Calculadora (`Calculadora`)\n- Para calcular descuentos, comparaciones y totales.\n\n### 📊 Inventario\nConsulta siempre que:\n- Te pregunten por precio, disponibilidad, recomendaciones, categorías o marcas.\n- El cliente diga “¿Qué tienes?”, “¿Qué me recomiendas?”, “¿Tienen [marca]?”, etc.\n\n---\n\n## ✅ Reglas Finales\n\n1. Siempre vende con descuentos visibles.\n2. Usa la calculadora para mostrar ahorros exactos.\n3. Nunca muestres precio sin oferta.\n4. Solo da hasta 2 recomendaciones por consulta.\n5. Siempre verifica disponibilidad en Sheets.\n6. Usa descripciones propias para los aromas.\n7. Sé empática, directa y con orientación a cierre de venta.\n",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1240,
        -820
      ],
      "id": "5a503707-6fcd-4b8e-9910-923e386ba071",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Start').item.json.sender_split.split('@')[0] }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1200,
        -600
      ],
      "id": "9aeab4ad-1bd4-49a7-ab63-134b9c116dcd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc",
          "mode": "list",
          "cachedResultName": "Sistema_Completo_Lociones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -1060,
        -600
      ],
      "id": "c27d15b9-2816-4496-8a57-22a1fad3047d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MEeGbhV1rzNZXAs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Start').item.json.concat_message }}",
        "categories": {
          "categories": [
            {
              "category": "=Ventas",
              "description": "Mensajes relacionados con consultas específicas sobre productos después de recibir el catálogo, preguntas sobre fragancias particulares, marcas específicas, precios individuales, disponibilidad de stock, comparaciones entre productos, solicitudes de información detallada sobre perfumes específicos, consultas sobre métodos de pago, promociones aplicables, descuentos especiales, información sobre envíos y tiempos de entrega, proceso de compra, confirmación de pedidos, y cualquier comunicación comercial específica que va más allá de la solicitud inicial de catálogo y requiere asesoría personalizada de ventas."
            },
            {
              "category": "Saludo",
              "description": "Mensajes de cortesía y bienvenida como \"Hola\", \"Buenos días\", \"Buenas tardes\", \"¿Cómo están?\", saludos generales, presentaciones iniciales, consultas de apertura como \"¿Me pueden ayudar?\", solicitudes iniciales de catálogos de perfumes, expresiones de interés general como \"Deseo una loción\", y cualquier comunicación inicial que active la respuesta automática de bienvenida con: mensaje de cortesía, solicitud de datos del cliente (nombre, ciudad, producto de interés), presentación de ofertas actuales, y envío automático de catálogos por género."
            },
            {
              "category": "Soporte",
              "description": "Mensajes relacionados con consultas sobre pedidos ya realizados, seguimiento de entregas, problemas con productos recibidos, quejas sobre calidad o servicio, solicitudes de devolución o cambio, inconvenientes con envíos, dudas sobre facturación, reclamos por productos defectuosos o dañados, consultas sobre garantías, solicitudes de reembolso, problemas con métodos de pago ya procesados, y cualquier comunicación de soporte post-venta que requiera resolución de problemas o asistencia técnica después de haber completado una compra."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -2040,
        -80
      ],
      "id": "eada61f5-d909-429f-9daf-0cf669853a60",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2040,
        140
      ],
      "id": "c217114e-dd72-4299-863e-afe8261ac6f7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4I5hY4XwoALE8VJS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wnJkCuOu9EpHlbIk",
          "mode": "list",
          "cachedResultName": "MSG SALUDO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "instance": "={{ $('Start').item.json.instance }}",
            "sender_split_split": "={{ $('Start').item.json.sender_split }}"
          },
          "matchingColumns": [
            "instance",
            "sender_split_split"
          ],
          "schema": [
            {
              "id": "instance",
              "displayName": "instance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_split_split",
              "displayName": "sender_split_split",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1400,
        -80
      ],
      "name": "Call MSG SALUDO",
      "id": "c6bedb3b-6861-4c26-87cf-0d5e373752db"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM obtener_crear_estado_cliente(\n    SPLIT_PART('{{ $json.sender_split }}', '@', 1)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -80
      ],
      "id": "35db9bf0-0e3f-4588-b3c9-f39043a3ffe9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ad8c2e7-5b66-4ddf-87bc-e4b0b85822dd",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "ventas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "saludo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa8f3d6e-135a-4759-a5e9-f59acde3e546"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3ee9754-ff8c-41ea-a0e5-21df8e8adee1",
                    "leftValue": "={{ $json.estado }}",
                    "rightValue": "soporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "soporte"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2560,
        -80
      ],
      "id": "5e33859f-f5b5-44ed-89b9-759c4f8ed974",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT actualizar_estado_cliente(\n    SPLIT_PART('{{ $json.sender_split }}', '@', 1),\n    'ventas'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1400,
        -240
      ],
      "id": "b053c8e8-1baf-4f3c-8c14-04d559c35c3a",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM obtener_crear_estado_cliente('{{ $json.sender_split.split(\"@\")[0] }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1400,
        80
      ],
      "id": "6f04a6ab-033d-442a-b35e-cf23cb1f603f",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Text": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Delay Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call MSG SALUDO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b97c030-a5fd-4cf8-a6f7-85153b41ecbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b741fad69cc6219b90142a4f3a46a45de0510680dd2fdf57a5402cd3a1e0176"
  },
  "id": "Ke9ReyD4i1jD68IH",
  "tags": [
    {
      "createdAt": "2025-07-08T23:54:46.199Z",
      "updatedAt": "2025-07-08T23:54:46.199Z",
      "id": "WtlktAsOhSBmH0bF",
      "name": "EDPERFUMERIA"
    }
  ]
}