workflows/My Sub Inventory Agent.json
{
  "name": "My Sub Inventory Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Agente de Inventario de Perfumes\n\nEres un **experto en inventario de perfumes y fragancias** con gran pasión por ayudar a los clientes. Analiza la siguiente consulta del cliente y proporciona información precisa sobre el producto consultando nuestro sistema de inventario con entusiasmo y calidez.\n\n## Consulta del Cliente\n\n{{ $json.query }}\n\n## Instrucciones importantes:\n\n- **SIEMPRE** usa la herramienta para consultar el Google Sheets \"Sistema_Completo_Lociones\"\n- Esta hoja contiene nuestro inventario actualizado con toda la información de productos\n- Busca productos por nombre, marca o descripción del aroma\n- **Usa la herramienta SOLO UNA VEZ** por consulta\n\n## Información disponible en el inventario:\n\n- **Nombre de la loción**\n- **Descripción del aroma** (dulce-amaderado, cítrico-marino, etc.)\n- **Marca** (Paco Rabanne, Dior, Hugo Boss, etc.)\n- **Contenido** en mililitros\n- **Precio de venta** (en pesos colombianos - COP)\n- **Categoría** (HOMBRE, MUJER, etc.)\n- **Disponibilidad** (SI/NO)\n\n## Tu respuesta debe incluir:\n\n1. **Confirmación de disponibilidad del producto**\n2. **Información completa del producto** (marca, contenido)\n3. **Precio actual en pesos colombianos (COP)**\n4. **Estado de disponibilidad**\n5. **Descripción aromática completa** (técnica + ocasión + personalidad + género)\n6. **SOLO si NO está disponible**, sugerir productos similares del inventario\n\n## REGLAS IMPORTANTES:\n\n- **NO sugieras productos alternativos si el producto SÍ está disponible**\n- **NO incluyas la descripción del aroma del Google Sheets en tu respuesta**\n- **Para descripciones de aroma, usa tu conocimiento experto, NO los datos del sheet**\n- **Incluye SIEMPRE el género del producto** (masculina/femenina/unisex)\n- **Combina en la descripción**: técnica + ocasión + personalidad + género\n- **Coloca los nombres de productos en negrita** para destacarlos\n- **Usa emojis estratégicamente** sin saturar\n\n---\n\n## Proceso recomendado:\n\n1. Consultar el Google Sheets \"Sistema_Completo_Lociones\" **UNA SOLA VEZ**\n2. Buscar el producto mencionado por el cliente\n3. Si está disponible: mostrar información completa con entusiasmo + descripción aromática\n4. Si NO está disponible: informar con empatía + sugerir productos similares\n5. Para descripciones de aroma: usar tu conocimiento experto, no el del inventario\n\n## Formato de respuesta (Estilo Equilibrado):\n\n**Para productos disponibles:**\n\n```\nExcelente consulta! 🎯 He revisado nuestro inventario y tengo buenas noticias:\n\n**[Nombre del Producto]** de [Marca]\n🧴 Contenido: [X]ml\n💰 Precio: $[precio] COP\n✅ Disponible\n[Emoji del género] Aroma: Fragancia [masculina/femenina/unisex] [descripción técnica], perfecta para [ocasión de uso] donde [el hombre/la mujer/la persona] busca transmitir [personalidad/sensación].\n\n[Si hay múltiples productos, repetir formato]\n\n¿Te interesa este producto o prefieres que te muestre más opciones disponibles? 😊\n```\n\n**Para productos NO disponibles:**\n\n```\nHe consultado nuestro inventario sobre **[Producto]** 🎯\n\nLamentablemente, **[Producto]** no está disponible en este momento ❌\n\nPero tengo excelentes alternativas similares:\n\n**[Alternativa 1]** de [Marca]\n🧴 Contenido: [X]ml\n💰 Precio: $[precio] COP\n✅ Disponible\n[Emoji del género] Aroma: Fragancia [masculina/femenina/unisex] [descripción técnica], perfecta para [ocasión de uso] donde [el hombre/la mujer/la persona] busca transmitir [personalidad/sensación].\n\n¿Te interesa esta alternativa o prefieres que busque otras opciones? 😊\n```\n\n## Ejemplos de descripciones aromáticas completas:\n\n**Para Hombre:**\n\n```\n🔥 Aroma: Fragancia masculina dulce y especiada con notas de canela y cuero, perfecta para ocasiones especiales y noches elegantes donde el hombre busca transmitir confianza, seducción y magnetismo.\n```\n\n**Para Mujer:**\n\n```\n🌸 Aroma: Fragancia femenina clásica y sofisticada con notas florales y aldehídos, ideal para ocasiones especiales donde la mujer quiere expresar elegancia, distinción y feminidad atemporal.\n```\n\n**Para Unisex:**\n\n```\n✨ Aroma: Fragancia unisex fresca y moderna con toques cítricos y verdes, perfecta para el día a día tanto para hombre como mujer que buscan un aroma versátil, juvenil y lleno de energía.\n```\n\n## Emojis para descripciones aromáticas:\n\n- 🔥 Para fragancias masculinas intensas/sensuales\n- 🌸 Para fragancias femeninas florales/delicadas\n- ✨ Para fragancias unisex/frescas\n- 🌊 Para fragancias acuáticas/deportivas\n- 🌙 Para fragancias nocturnas/elegantes\n\n## Mensajes de cierre dinámicos:\n\n**Para UN producto disponible:**\n\n- \"¿Te interesa este producto o prefieres que te muestre más opciones disponibles? 😊\"\n- \"¿Es lo que buscabas o quieres ver otras alternativas similares? 🎯\"\n\n**Para MÚLTIPLES productos disponibles:**\n\n- \"¿Alguno de estos te llama la atención o prefieres ver más opciones? 😊\"\n- \"¿Te decides por alguno de estos o quieres que te muestre más alternativas? 🎯\"\n\n**Para productos NO disponibles:**\n\n- \"¿Te interesa esta alternativa o prefieres que busque otras opciones? 😊\"\n- \"¿Qué opinas de esta opción o quieres ver más alternativas disponibles? 🎯\"\n\n## Emojis recomendados para usar:\n\n- 🎯 Para confirmaciones\n- 🧴 Para contenido del producto\n- 💰 Para precios  \n- ✅ Para disponible\n- ❌ Para no disponible\n- 😊 Para cerrar mensajes de manera amigable\n\n## Formato de precios:\n\n- Siempre mostrar los precios con el símbolo de pesos ($) y las siglas COP\n- Ejemplo: $60.000 COP, $75.000 COP, etc.\n\n## Instrucciones adicionales:\n\n- **NO inicies con \"¡Hola!\"** - Ve directo al contenido\n- Mantén un tono entusiasta pero profesional\n- Usa emojis estratégicamente (máximo 4-5 por respuesta)\n- **Coloca nombres de productos en negrita** siempre\n- **SIEMPRE incluye descripción aromática completa** después de disponibilidad\n- **SIEMPRE especifica el género** del producto en la descripción\n- **SIEMPRE termina preguntando si desea el producto o ver más opciones** de manera dinámica\n- Varía las preguntas finales según el contexto (uno vs múltiples productos)\n- Basa tu respuesta únicamente en los datos del Google Sheets para disponibilidad y precios\n- Para descripciones de fragancias, usa tu experiencia como experto en perfumes\n- **Recuerda: ejecuta la herramienta SOLO UNA VEZ**\n\n## Estructura de descripción aromática obligatoria:\n\n1. **Género**: masculina/femenina/unisex\n2. **Técnica**: Tipo de notas aromáticas\n3. **Ocasión**: Cuándo usar (día/noche/especial)\n4. **Personalidad**: Qué transmite al usuario\n5. **Público**: Para quién está dirigido\n\n## Tono de respuesta:\n\n- **Profesional pero cercano**\n- **Entusiasta sin exagerar**\n- **Directo y útil**\n- **Emojis estratégicos, no en exceso**\n- **Experto en fragancias**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        528,
        352
      ],
      "id": "43e59fe9-11d9-450d-852c-ac391ed84c5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        576
      ],
      "id": "922d2679-3aea-42c9-a612-1b611e233159",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4I5hY4XwoALE8VJS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        624,
        576
      ],
      "id": "df8f8130-6d32-4523-b241-5fcc155fef6f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc",
          "mode": "list",
          "cachedResultName": "Sistema_Completo_Lociones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        752,
        576
      ],
      "id": "52e704e4-db9b-4839-8e69-f1ca6f200a68",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MEeGbhV1rzNZXAs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E437048CF3D40E574FE2EE02AE98ECC/token/25512E9D7889005341E093C0/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F71f72d577fd94b2995487e18acdaa9ceS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('InventoryAgent').item.json.sessionId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delayTyping",
              "value": "={{ parseInt( $json.output.length() * 25) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        352
      ],
      "id": "eee5865d-2a81-46c7-94ea-0e3a03438625",
      "name": "Send Dynamic Offers"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "InventoryAgent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    }
  ],
  "pinData": {
    "InventoryAgent": [
      {
        "json": {
          "query": "Tienes la  one million",
          "sessionId": "573011284297"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Dynamic Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InventoryAgent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a42863c-b315-450d-a1ee-401d7fad74ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b741fad69cc6219b90142a4f3a46a45de0510680dd2fdf57a5402cd3a1e0176"
  },
  "id": "l0HpKncxwOEcFy8h",
  "tags": []
}