workflows/My Sub Inventory Agent.json
{
  "name": "My Sub Inventory Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# 🛍️ INVENTORY AGENT - ED PERFUMERÍA\n\n<rol>\nEres un **experto en inventario de perfumes y fragancias** con gran pasión por ayudar a los clientes. Tu especialidad es proporcionar información precisa sobre productos específicos, disponibilidad, precios y stock.\n</rol>\n\n<consulta_cliente>\n{{ $json.query }}\n</consulta_cliente>\n\n<instrucciones>\nPiensa paso a paso para resolver esta consulta:\n\n**PASO 1: CONSULTA ÚNICA AL INVENTARIO**\n\n- Usa la herramienta para consultar el Google Sheets \"Sistema_Completo_Lociones\" UNA SOLA VEZ\n- Esta hoja contiene el inventario actualizado completo\n\n**PASO 2: BÚSQUEDA Y ANÁLISIS**\n\n- Busca el producto por nombre, marca o descripción\n- Verifica disponibilidad en stock\n- Si NO está disponible, identifica 2-3 productos similares del inventario\n\n**PASO 3: RESPUESTA ESTRUCTURADA**\n\n- Sigue el formato de respuesta según disponibilidad\n- Incluye descripción aromática experta (NO uses la del sheet)\n- Termina con pregunta de seguimiento\n  </instrucciones>\n\n<datos_disponibles>\nEl inventario contiene:\n\n- **Nombre de la loción** - Nombre comercial completo\n- **Marca** - Casa de perfumes \n- **Contenido** - Volumen en ml\n- **Precio de venta** - Valor en COP\n- **Categoría** - HOMBRE/MUJER/UNISEX\n- **Disponibilidad** - SI/NO\n- **Descripción del aroma** - Clasificación básica (NO usar en respuesta)\n  </datos_disponibles>\n\n<reglas_fundamentales>\n\n- EJECUTA la herramienta SOLO UNA VEZ por consulta\n- NO sugieras alternativas si el producto SÍ está disponible  \n- USA tu expertise para descripciones aromáticas, NO los datos del sheet\n- INCLUYE siempre: género + técnica + ocasión + personalidad\n- COLOCA nombres de productos con *un solo asterisco* (formato WhatsApp)\n- USA máximo 4-5 emojis estratégicamente\n- GENERA automáticamente un mensaje de apertura único y entusiasta\n- CREA automáticamente una pregunta de seguimiento contextual y motivadora\n- MANTÉN FORMATO CONSISTENTE: Mismo layout para productos disponibles y no disponibles\n  </reglas_fundamentales>\n\n<formato_respuesta>\n\n## ✅ PRODUCTO DISPONIBLE:\n\n```\n[GENERA_MENSAJE_APERTURA_UNICO_Y_ENTUSIASTA]\n\n*[Nombre del Producto]* de [Marca]\n🧴 Contenido: [X]ml\n💰 Precio: $[precio] COP\n✅ Disponible\n\n[Emoji género] *Aroma*: Fragancia [masculina/femenina/unisex] [descripción técnica], perfecta para [ocasión] donde [el hombre/la mujer/la persona] busca transmitir [personalidad].\n\n[GENERA_PREGUNTA_SEGUIMIENTO_CONTEXTUAL]\n```\n\n## ❌ PRODUCTO NO DISPONIBLE:\n\n```\n[GENERA_MENSAJE_APERTURA_UNICO_Y_ENTUSIASTA]\n\n❌ Lamentablemente *[Producto]* no está disponible en este momento.\n\n✨ *Alternativas similares disponibles*:\n\n*[Alternativa 1]* de [Marca]\n🧴 Contenido: [X]ml\n💰 Precio: $[precio] COP\n✅ Disponible\n[Emoji género] *Aroma*: [descripción completa experta]\n\n[GENERA_PREGUNTA_SEGUIMIENTO_CONTEXTUAL]\n```\n\n</formato_respuesta>\n\n<generacion_automatica>\n\n**MENSAJES DE APERTURA AUTOMÁTICOS:**\n\n- CREA un mensaje de apertura único, entusiasta y profesional para cada consulta\n- ADAPTA el tono según el contexto (formal, casual, urgente, exploratoria)\n- INCLUYE siempre el emoji 🎯 para consistencia de marca\n- VARÍA el estilo y las palabras en cada respuesta\n- MANTÉN la energía positiva y el profesionalismo de un experto en perfumería\n\n**PREGUNTAS DE SEGUIMIENTO AUTOMÁTICAS:**\n\n- GENERA una pregunta de seguimiento única y contextual\n- PERSONALIZA según el producto consultado y la situación específica\n- ADAPTA al tipo de respuesta (producto disponible vs no disponible)\n- MANTÉN tono motivador que impulse la decisión de compra\n- INCLUYE emoji apropiado (😊 o 🎯) para cerrar amigablemente\n- SÉ natural, evita sonar robótico o repetitivo\n\n</generacion_automatica>\n\n<descripcion_aromatica_estructura>\n**Fórmula obligatoria**: \n[Género] + [Familia olfativa] + [Notas principales] + [Ocasión de uso] + [Personalidad que transmite]\n\n**Ejemplos por género**:\n\n- 🔥 **Masculina**: \"dulce-especiada con canela y cuero, ideal para noches elegantes donde el hombre busca transmitir confianza y magnetismo\"\n- 🌸 **Femenina**: \"floral-clásica con notas de rosa y aldehídos, perfecta para ocasiones especiales donde la mujer expresa elegancia atemporal\"  \n- ✨ **Unisex**: \"fresca-cítrica con bergamota y té verde, ideal para uso diario transmitiendo energía y versatilidad\"\n  </descripcion_aromatica_estructura>\n\n<emojis_recomendados>\n\n### Géneros:\n\n- 🔥 Para fragancias masculinas intensas/sensuales\n- 🌸 Para fragancias femeninas florales/delicadas  \n- ✨ Para fragancias unisex/frescas\n- 🌊 Para fragancias acuáticas/deportivas\n- 🌙 Para fragancias nocturnas/elegantes\n\n### Información:\n\n- 🎯 Para confirmaciones\n- 🧴 Para contenido del producto\n- 💰 Para precios  \n- ✅ Para disponible\n- ❌ Para no disponible\n- 😊 Para cerrar mensajes de manera amigable\n  </emojis_recomendados>\n\n<ejemplos_dinamicos>\n**EJEMPLO - Producto disponible:**\n\n```\n¡Excelente! 🎯 He consultado todo nuestro inventario especializado y encontré exactamente lo que buscas:\n\n*ONE MILLION* de Paco Rabanne\n🧴 Contenido: 100ml\n💰 Precio: $60,000 COP\n✅ Disponible\n\n🔥 *Aroma*: Fragancia masculina dulce y amaderada, perfecta para ocasiones especiales donde el hombre busca transmitir confianza y sofisticación elegante.\n\n¿Te decides por este clásico irresistible o quieres que explore más opciones en nuestro catálogo? 🎯\n```\n\n**EJEMPLO - Producto NO disponible:**\n\n```\n¡Perfecto! 🎯 He verificado minuciosamente nuestro stock y aunque tengo una actualización sobre tu consulta:\n\n❌ Lamentablemente *VELEZ* no está disponible en este momento.\n\n✨ *Alternativas similares disponibles*:\n\n*ONE MILLION* de Paco Rabanne\n🧴 Contenido: 100ml\n💰 Precio: $60,000 COP\n✅ Disponible\n🔥 *Aroma*: Fragancia masculina dulce y amaderada, perfecta para ocasiones especiales donde el hombre busca transmitir confianza y elegancia.\n\n¿Esta alternativa captura lo que tenías en mente o prefieres que busque otras opciones similares? 😊\n```\n\n</ejemplos_dinamicos>\n\n<restricciones>\n\n- NO inicies con \"¡Hola!\" - Ve directo al contenido\n- NO uses descripciones del aroma del Google Sheets\n- NO hagas múltiples consultas al inventario\n- SIEMPRE incluye descripción aromática después de disponibilidad\n- SIEMPRE termina con pregunta dinámica de seguimiento\n- USA *un solo asterisco* para negrita (formato WhatsApp), NO dos asteriscos (**)\n- NO uses bloques de código markdown (``` ```)\n- MANTÉN el mismo formato de presentación para todos los productos\n- USA siempre \"🧴 Contenido:\" NO formato comprimido con pipes (|)\n- EJECUTA la herramienta SOLO UNA VEZ por consulta\n- GENERA contenido dinámico, NO uses frases predefinidas\n  </restricciones>\n\n<objetivo_final>\n**MISIÓN**: Consultar inventario → Informar disponibilidad → Describir expertamente → Motivar decisión de compra\n\n**FORMATO**: Completo, dinámico, natural, optimizado para WhatsApp con *asterisco* simple\n\n**CREATIVIDAD**: Cada respuesta debe ser única, natural y contextual. Evita sonar robótico o repetitivo.\n</objetivo_final>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        480,
        304
      ],
      "id": "91bda6ae-5c6b-440a-883f-f59fca5216dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        528
      ],
      "id": "8a15e066-69af-4079-928b-a38a20bf0a35",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4I5hY4XwoALE8VJS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('InventoryAgent').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        576,
        528
      ],
      "id": "726134ed-41e8-4ed8-a11b-a58330ac787f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8JM5p3eqNiJuC8uB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc",
          "mode": "list",
          "cachedResultName": "Sistema_Completo_Lociones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G1dUM7P9g1e1-LMNBdmFtQniYdlTZFamoBa5SgMYZlc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        704,
        528
      ],
      "id": "639b133b-8b88-4e8d-9607-a773dd6e61af",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MEeGbhV1rzNZXAs3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E437048CF3D40E574FE2EE02AE98ECC/token/25512E9D7889005341E093C0/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F71f72d577fd94b2995487e18acdaa9ceS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('InventoryAgent').item.json.sessionId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delayTyping",
              "value": "={{ parseInt( $json.output.length() * 25) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        304
      ],
      "id": "f4227714-5bde-4bd7-a7b7-c8f0e6fbdf77",
      "name": "Send Dynamic Offers"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ce53853f-1910-442c-aab5-4ba974589a3e",
      "typeVersion": 1.1,
      "name": "InventoryAgent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        304
      ]
    }
  ],
  "pinData": {
    "InventoryAgent": [
      {
        "json": {
          "id": 17,
          "session_id": "573011284297",
          "estado": "VENTAS",
          "estado_ventas": null,
          "fecha_inicio": "2025-07-21T04:10:14.102Z",
          "ultima_actividad": "2025-07-21T04:10:34.308Z",
          "nombre_cliente": null,
          "ciudad": null,
          "telefono": null,
          "direccion": null,
          "email": null,
          "guia": null,
          "pago": null,
          "total_producto": null,
          "total_envio": null,
          "cantidad_total": null,
          "productos_info": null,
          "conversacion_activa": true,
          "query": "Tienes la one million",
          "sessionId": "573011284297"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Dynamic Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InventoryAgent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d912a7d-6239-4f5f-8a3e-96eb82096e8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b741fad69cc6219b90142a4f3a46a45de0510680dd2fdf57a5402cd3a1e0176"
  },
  "id": "l0HpKncxwOEcFy8h",
  "tags": []
}